body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  margin: 0px;

  background: #f1e0c5;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .content .list-header {
  background-color: #c9b79c;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-weight: 700;
  font-size: 20px;;
}

.wrapper .content .list-header button {
  background: none;
  border: none;
}

.wrapper .content .list-header i:hover {
  transform: scale(1.2);
  cursor: pointer;
}



