#new-task-form {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 25%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #71816d;
  padding: 5px 20px;
  z-index: 10;
}

#overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .65);
}

.modal button:hover {
  cursor: pointer;
}

.modal .new-task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal h1 {
  padding-left: 15px;
}

.modal .close-modal {
  padding-right: 20px;
  padding-top: 14px;
}

.modal .close-modal button {
  border: none;
  background: none;
}

.modal .close-modal i {
  margin-left: 100px;
}

.modal .close-modal i:hover {
  transform: scale(1.2);
}

.modal .input-task-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal input {
  width: 90%;
  padding-bottom: 8px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  border: 2px solid #342a21;
}

.modal .submit-new-task {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.modal .submit-new-task button {
  font-family: "Raleway", sans-serif;
  padding: 3px 10px;

}


