.wrapper .sidebar h1 {
  font-family: "Protest Strike", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 3px;

}

.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #71816d;
  padding: 18px 0;
  font-weight: 500;
}

.wrapper .sidebar ul {
  padding-left: 5px;
}

.wrapper .sidebar ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid #3c433a;
}

.wrapper .sidebar ul li span {
  padding-right: 8px;
}

.wrapper .sidebar ul li:hover {
  cursor: pointer;
  background: #a9c7a3;
}

.wrapper .sidebar .filter-list {
  display: none;
}

.wrapper .sidebar i{
  padding-right: 8px;
}
