.tasks-list {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  padding: 15px;
  border: 4px solid;
  margin: 10px;

}

.tasks-list .task-content {
  display: flex;
  margin: 0 3px;
  padding: 0px 30px;
}

.tasks-list .task-content i {
  padding: 0 6px;
}

.tasks-list .task-content i:hover {
  box-shadow: 0 0px 11px yellow;
  cursor: pointer;
}
